
@{
    ViewBag.Title = "ReceiveMessage";
    Layout = "/Areas/Admin/Views/Shared/_Layout_Body.cshtml";
}

<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/jquery.signalR-2.2.0.js"></script>

<script type="text/javascript">
    
</script>


<h2>
    接收消息
</h2>

<div>
    <label>我的消息：</label>
    <span style=" color: red; font-size: 30px;  margin-right:10px;" id="count"></span>条
    <br />
    <br />
    <div id="msgcontent"></div>
</div>

