<?xml version="1.0" encoding="utf-8"?>
<sqlMapConfig xmlns="http://ibatis.apache.org/dataMapper"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" >

  <settings>
    <setting useStatementNamespaces="false"/>
    <setting cacheModelsEnabled="true"/>
    <setting validateSqlMap="false"/>
  </settings>

  <providers resource="providers.config"/>

  <database>
    <provider name="sqlServer2.0"/>
    <dataSource name="iBatisNet" connectionString="server=USER-PC;database=Wisex;uid=sa;pwd=zcx"/>
  </database>

  <sqlMaps>
    <sqlMap resource="Config/SqlMappers/PageView.xml"/>
    <sqlMap resource="Config/SqlMappers/Account.xml"/>
    <sqlMap resource="Config/SqlMappers/SyetemControl.xml"/>
    <sqlMap resource="Config/SqlMappers/CustomizeFunc.xml"/>
    
  </sqlMaps>
</sqlMapConfig>
