<?xml version="1.0" encoding="utf-8"?>
<StructureMap MementoStyle="Attribute">
  <DefaultInstance PluginType="Wisex.Service.SystemControl.IUserService,Wisex.Service" 
                   PluggedType="Wisex.Service.SystemControl.UserService,Wisex.Service" 
                   Scope="Singleton"/>

  <DefaultInstance PluginType="Wisex.Service.SystemControl.IPageViewService,Wisex.Service"
                   PluggedType="Wisex.Service.SystemControl.PageViewService,Wisex.Service"
                   Scope="Singleton"/>

  <DefaultInstance PluginType="Wisex.Service.SystemControl.IMenuService,Wisex.Service"
                   PluggedType="Wisex.Service.SystemControl.MenuService,Wisex.Service"
                   Scope="Singleton"/>


  <DefaultInstance PluginType="Wisex.Service.SystemControl.IRoleMenuService,Wisex.Service"
                 PluggedType="Wisex.Service.SystemControl.RoleMenuService,Wisex.Service"
                 Scope="Singleton"/>

  <DefaultInstance PluginType="Wisex.Service.SystemControl.IRoleService,Wisex.Service"
               PluggedType="Wisex.Service.SystemControl.RoleService,Wisex.Service"
               Scope="Singleton"/>


  <DefaultInstance PluginType=" Wisex.Service.Services.IBaseService,Wisex.Service"
             PluggedType="Wisex.Service.Services.BaseService,Wisex.Service"
             Scope="Singleton"/>
</StructureMap>
