<StructureMap MementoStyle="Attribute">
  <DefaultInstance PluginType="Wisex.Dao.SystemControl.IUserDao,Wisex.Dao" 
                   PluggedType="Wisex.Dao.SystemControl.UserDao,Wisex.Dao" 
                   Scope="Singleton"/>
  <DefaultInstance PluginType="Wisex.Dao.SystemControl.IPageViewDao,Wisex.Dao"
                     PluggedType="Wisex.Dao.SystemControl.PageViewDao,Wisex.Dao"
                     Scope="Singleton"/>
  <DefaultInstance PluginType="Wisex.Dao.SystemControl.ILoginLogDao,Wisex.Dao"
                     PluggedType="Wisex.Dao.SystemControl.LoginLogDao,Wisex.Dao"
                     Scope="Singleton"/>


  <DefaultInstance PluginType="Wisex.Dao.SystemControl.IMenuDao,Wisex.Dao"
                   PluggedType="Wisex.Dao.SystemControl.MenuDao,Wisex.Dao"
                   Scope="Singleton"/>

  <DefaultInstance PluginType="Wisex.Dao.SystemControl.IRoleDao,Wisex.Dao"
                 PluggedType="Wisex.Dao.SystemControl.RoleDao,Wisex.Dao"
                 Scope="Singleton"/>

  <DefaultInstance PluginType="Wisex.Dao.SystemControl.IRoleMenuDao,Wisex.Dao"
               PluggedType="Wisex.Dao.SystemControl.RoleMenuDao,Wisex.Dao"
               Scope="Singleton"/>


  <DefaultInstance PluginType="Wisex.Dao.Daos.IDaoFrame,Wisex.Dao"
             PluggedType="Wisex.Dao.Daos.DaoFrame,Wisex.Dao"
             Scope="Singleton"/>
</StructureMap>